.cards {
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5) cover;
}
.hello {
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
}
.carrd {
    width: 30rem;
    height: 800px;
    margin-bottom: 30px;
    text-align: center;
    padding: 1rem;
    background-color: transparent;


}
.carrd:hover{
    background-color: #030303d7;
    color: rgb(248, 246, 246);
    
   
}

.card:hover{
    box-shadow: 5px 10p 20px 1px rgba(0, 0, 0, 0.253)!important;
}
.card-body {
    padding: 3rem 0!important;
}
.card-text {
    font-size: .9rem;
    padding:0.4rem 1.9rem ;
}
.container-fluid {
    padding-top:6rem ;
}
@media  screen and (max-width: 1140px) {
    .carrd {
        width:30rem;
       margin-bottom: 20px;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
}
@media screen and (min-width:1600px) {
    .card1{
        transform: translateY(50%);
    }
}
.lk{
    color: black;
}
.lk:hover {
    color: #e5e5e5;
}